[nix]
channel = "stable-24_05"
packages = ["unzipNLS"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41706127
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && npm run dev"
